<div class="panel panel-default adminPanel">
    <div class="panel-heading">
        <h3 class="panel-title">Selected session</h3>
    </div>
    <div class="panel-body">
        <div class="gridStyle" ng-cloak>
            <pre> <b>Session ID:</b> {{session.externalSessionID}} </pre>
            <pre> <b>From:</b> {{session.ani}} </pre>
            <pre> <b>To:</b> {{session.dnis}} </pre>
            <pre> <b>Assigned agent:</b> {{session.assignedAgent}} </pre>
        </div>
    </div>
</div>
