<div>
    <label for="{{concept.id}}">{{concept.name}}</label>
    <div class="input-group">
	    <span class="input-group-addon">
	        <input id="{{concept.id}}ConfirmCheckBox" type="checkbox"
	               ng-model="concept.confirmedByAgent" ng-disabled="!concept.confirmedByAgent" />
	    </span>
	    <input id="{{concept.id}}" class="form-control" type="text"
	               ng-model="concept.value"
	               ng-required="concept.confirmedByAgent == true" placeholder="{{filterExpr}}" validate-hour-minute ng-keypress="filterKeyPresses(concept, $event)"
	               ng-focus="concept.confirmedByAgent = true" nina-autofocus="conceptIndex == 0" nina-autoselect="conceptIndex == 0" />
    </div>
</div>
